#cartPageList {
    display: flex;
    align-items: center;    
    gap: 10px;
    height: 100px;
    text-align: center;
}

#cartPage-h1 {
    font-size: 52px;
}

#cartPageList-P{
    font-size: 40px;
   padding-top: 70px;
}

#removeBtn {
    width:100px;
    margin-top: 50px;
    margin-left: 10px;
}